@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", sans-serif;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* Global styles */

html,
body {

    --mint: #BEE9E8;
    --moonstone: #62B6CB;
    --indigo: #1B4965;
    --columbia_blue: #CAE9FF;
    --picton_blue: #CAE9FF;

    // bee9e8-212738-e6e3e3-36827f-877666
    
    --raisin_black: #212738;
    --platinum: #E6E3E3;
    --teal: #36827F;
    --carmine: #9A031E;


    height: 100%;
    // background-color: var(--platinum);
    background-image: radial-gradient(darkgrey, white);

    
    
    

}

html {

    // background-image: url("./assets/background.svg");
    // background-size: cover;

    background-color: blue;
    
    
    



    overflow-y: auto !important;


}